node-red/flows.json
[{"id":"b93fa7b9.7a4ae8","type":"tab","label":"Iluminação","disabled":false,"info":""},{"id":"e0a4e574.106b38","type":"tab","label":"Quintal","disabled":false,"info":""},{"id":"8179a8bb.7045e8","type":"tab","label":"Laboratorio","disabled":false,"info":""},{"id":"a9c27ebb.64c6","type":"tab","label":"Sala","disabled":false,"info":""},{"id":"4b3aed39.ffadd4","type":"tab","label":"Cozinha","disabled":false,"info":""},{"id":"d63b00c4.4b4ab","type":"tab","label":"Closet","disabled":false,"info":""},{"id":"8dc7a080.16f49","type":"tab","label":"lab","disabled":false,"info":""},{"id":"4384f9da.b80f68","type":"tab","label":"teste","disabled":false,"info":""},{"id":"50114200.3f208","type":"tab","label":"Lavanderia","disabled":false,"info":""},{"id":"525aff1c.b258f","type":"tab","label":"Hall","disabled":false,"info":""},{"id":"401d8481.b98e9c","type":"tab","label":"Suite","disabled":false,"info":""},{"id":"c8cf7004.e1ab4","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d056c24e.93a5c","type":"server-state-changed","z":"e0a4e574.106b38","name":"Luzes externas","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.turn_on_the_light_external","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":300,"wires":[["cc6d9d24.b622d","920b8c80.72aaa"],[]]},{"id":"12abba2d.c7fe66","type":"server-state-changed","z":"8179a8bb.7045e8","name":"Switch center","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_laboratory_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":260,"wires":[["d30941dc.899a1"],["1bdd0530.a1d8eb"]]},{"id":"d30941dc.899a1","type":"api-call-service","z":"8179a8bb.7045e8","name":"Turn on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_laboratory","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":200,"wires":[[]]},{"id":"1bdd0530.a1d8eb","type":"api-call-service","z":"8179a8bb.7045e8","name":"turn off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamp_laboratory","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":300,"wires":[[]]},{"id":"2b1b07de.b576a8","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Baixa luminosidade","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.lumens_garden_illuminance_lux","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":240,"wires":[["de23447b.497fb8"],[]]},{"id":"de31760e.4d38e8","type":"api-call-service","z":"a9c27ebb.64c6","name":"Acende luzes","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamps_center_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":160,"wires":[[]]},{"id":"29fd29e6.a6e256","type":"api-call-service","z":"a9c27ebb.64c6","name":"Modo ambiente","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.circadian_lighting_circadian_lighting_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":240,"wires":[[]]},{"id":"de23447b.497fb8","type":"ha-get-entities","z":"a9c27ebb.64c6","server":"c8cf7004.e1ab4","name":"Modo ausente","rules":[{"property":"input_boolean.away_mode","logic":"is","value":"off","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":340,"y":240,"wires":[["de31760e.4d38e8","29fd29e6.a6e256"]]},{"id":"368a88bb.2a7fa8","type":"server-state-changed","z":"d63b00c4.4b4ab","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_closet_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":220,"wires":[["dc16e077.44f82"],[]]},{"id":"a349f6c3.f110e8","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamps_closet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":220,"wires":[[]]},{"id":"f14ed5e5.505eb8","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamps_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":340,"wires":[[]]},{"id":"dc97874.1e3a178","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Liga Switch","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_closet_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[["a349f6c3.f110e8"]]},{"id":"dc16e077.44f82","type":"api-current-state","z":"d63b00c4.4b4ab","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":220,"wires":[["dc97874.1e3a178"],[]]},{"id":"a879bf22.a35f","type":"server-state-changed","z":"d63b00c4.4b4ab","name":"Movimento off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_closet_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":340,"wires":[["8932e476.cb49b8"],[]]},{"id":"774f5074.33744","type":"function","z":"8dc7a080.16f49","name":"TurnOn","func":"global.set('lightAutoOn', 'on');\nreturn 'on'","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[[]]},{"id":"4d7540a8.fcb62","type":"function","z":"8dc7a080.16f49","name":"TurnOff","func":"flow.set('lightAutoOn', 'off');\nreturn 'off'","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":420,"wires":[[]]},{"id":"ff6dc3b8.0fc91","type":"function","z":"8dc7a080.16f49","name":"isTurnOn?","func":"return global.get ('lightAutoOn') || 'off';","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[[]]},{"id":"8932e476.cb49b8","type":"api-current-state","z":"d63b00c4.4b4ab","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":340,"wires":[["f14ed5e5.505eb8"],[]]},{"id":"21373e8.1c230c2","type":"server-state-changed","z":"b93fa7b9.7a4ae8","name":"Esta escuro?","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.lumens_garden_illuminance_lux","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":180,"wires":[["c0e1447.20d1db8"],["bd4dcc59.6000d"]]},{"id":"aa715808.0f2558","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":40,"wires":[[]]},{"id":"c9bc0c37.1c329","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":140,"wires":[[]]},{"id":"44d48363.148b6c","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sensor de movimento","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_light_motion","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":220,"wires":[[]]},{"id":"ef79cd64.d57bd","type":"server-events","z":"4384f9da.b80f68","name":"","server":"c8cf7004.e1ab4","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":210,"y":220,"wires":[[]]},{"id":"c3dfa353.9cd54","type":"server-state-changed","z":"b93fa7b9.7a4ae8","name":"Nascer do sol","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":540,"wires":[["b029826a.538f8","64e3187b.1a9268","578a3c65.17ff84","3e1b0603.7f802a"],[]]},{"id":"64e3187b.1a9268","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sensor de movimento","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_light_motion","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":600,"wires":[[]]},{"id":"3e1b0603.7f802a","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":340,"wires":[[]]},{"id":"578a3c65.17ff84","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":480,"wires":[[]]},{"id":"b029826a.538f8","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sleep mode","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep_mode","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":700,"wires":[[]]},{"id":"b009ec1.b07501","type":"server-state-changed","z":"8dc7a080.16f49","name":"Por do sol","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":460,"y":240,"wires":[[],[]]},{"id":"cc6d9d24.b622d","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda suite","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"switch.switch_wall_closet_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":200,"wires":[[]]},{"id":"4c64ac0e.02d784","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda sala","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"switch.switch_wall_garden_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":380,"wires":[[]]},{"id":"66a73690.84d2b8","type":"ha-get-entities","z":"8dc7a080.16f49","server":"c8cf7004.e1ab4","name":"Modo ausente","rules":[{"property":"input_boolean.away_mode","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":720,"y":180,"wires":[[]]},{"id":"920b8c80.72aaa","type":"ha-get-entities","z":"e0a4e574.106b38","server":"c8cf7004.e1ab4","name":"Pessoas em casa","rules":[{"property":"input_boolean.away_mode","logic":"is","value":"off","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":510,"y":400,"wires":[["4c64ac0e.02d784"]]},{"id":"9bf38e82.48cac","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento Garagem on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":580,"wires":[["b1053969.2764e8"],[]]},{"id":"e519cc8f.d9b8e","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_1_l1_garage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":860,"wires":[[]]},{"id":"e070c278.d7c5","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_1_l1_garage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":620,"wires":[[]]},{"id":"b1053969.2764e8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":580,"wires":[["e070c278.d7c5"],[]]},{"id":"27477aed.3e0b56","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento garagem off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":820,"wires":[["df529092.41dde"],[]]},{"id":"df529092.41dde","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":840,"wires":[["e519cc8f.d9b8e"],[]]},{"id":"755f6c48.8e8524","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta principal aberta","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_hall_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":660,"wires":[["2f8fdd3c.11baf2"],[]]},{"id":"2f8fdd3c.11baf2","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":660,"wires":[["e070c278.d7c5"],[]]},{"id":"405160c1.c393a","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta principal fechada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_hall_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":920,"wires":[["438b58a4.1e6738"],[]]},{"id":"438b58a4.1e6738","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":920,"wires":[["e519cc8f.d9b8e"],[]]},{"id":"da7dce57.a040e","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz entrada","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":1120,"wires":[[]]},{"id":"1c7cd50b.c9854b","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":1180,"wires":[["9c8363b5.937e3"],[]]},{"id":"b90071cc.64bac","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta lavanderia aberta","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_laundry_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":1100,"wires":[["2efd66c6.07d4da"],[]]},{"id":"cc0f154.6b4d0e8","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta lavanderia fechada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_laundry_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1180,"wires":[["1c7cd50b.c9854b"],[]]},{"id":"2efd66c6.07d4da","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":1100,"wires":[["da7dce57.a040e"],[]]},{"id":"9c8363b5.937e3","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz entrada","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1180,"wires":[[]]},{"id":"50fe9f86.e336f","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral lavanderia off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":1440,"wires":[["a77e7072.bb32"],[]]},{"id":"8f1d46ff.1929b8","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1340,"wires":[[]]},{"id":"209b4a1b.a1bb06","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral lanvanderia on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":1340,"wires":[["920ad4f5.df82e8"],[]]},{"id":"920ad4f5.df82e8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":1340,"wires":[["8f1d46ff.1929b8"],[]]},{"id":"a77e7072.bb32","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1440,"wires":[["3dd1b721.ecc628"],[]]},{"id":"3dd1b721.ecc628","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1440,"wires":[[]]},{"id":"2f61efb4.05d03","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral sala on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_1_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1620,"wires":[["f86f9762.ff0bb8"],[]]},{"id":"74877419.f1e45c","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral sala off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_1_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1700,"wires":[["225e153.09d7aea"],[]]},{"id":"f86f9762.ff0bb8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1620,"wires":[["1992c8c1.58b5e7"],[]]},{"id":"225e153.09d7aea","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1700,"wires":[["d2b5fd61.7fb55"],[]]},{"id":"1992c8c1.58b5e7","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_2_l3_external_side","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1620,"wires":[[]]},{"id":"d2b5fd61.7fb55","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_2_l3_external_side","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1700,"wires":[[]]},{"id":"4a6f6b96.aa7064","type":"server-state-changed","z":"50114200.3f208","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_laundry_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":120,"wires":[["cc84d348.ae4e4"],[]]},{"id":"22d6e502.91feaa","type":"server-state-changed","z":"50114200.3f208","name":"Movimento off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_laundry_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":200,"wires":[["a9be0c90.2edda"],[]]},{"id":"cc84d348.ae4e4","type":"api-current-state","z":"50114200.3f208","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":120,"wires":[["28d6149c.b11dbc"],[]]},{"id":"a9be0c90.2edda","type":"api-current-state","z":"50114200.3f208","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["c5744488.72c3f8"],[]]},{"id":"28d6149c.b11dbc","type":"api-call-service","z":"50114200.3f208","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":120,"wires":[[]]},{"id":"c5744488.72c3f8","type":"api-call-service","z":"50114200.3f208","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":200,"wires":[[]]},{"id":"84b9cd25.0d3e6","type":"time-range-switch","z":"8dc7a080.16f49","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":430,"y":580,"wires":[[],[]]},{"id":"c0e1447.20d1db8","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":340,"y":140,"wires":[["aa715808.0f2558","c9bc0c37.1c329","44d48363.148b6c"],[]]},{"id":"bd4dcc59.6000d","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":340,"y":260,"wires":[["3e1b0603.7f802a","578a3c65.17ff84","64e3187b.1a9268"],[]]},{"id":"79549dce.8da714","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Switch luz piscina","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_garden_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":500,"wires":[["d354d7b9.76b4e8"],["40ff5464.e2694c"]]},{"id":"d354d7b9.76b4e8","type":"api-call-service","z":"a9c27ebb.64c6","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_pool","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":460,"wires":[[]]},{"id":"40ff5464.e2694c","type":"api-call-service","z":"a9c27ebb.64c6","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_pool","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":560,"wires":[[]]},{"id":"c30a46b4.6f2228","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Toggle luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.switch_wall_kitchen_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":160,"wires":[[]]},{"id":"8a40a0f6.85ee1","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Luz cozinha","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_livingroom_touch_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":170,"y":180,"wires":[["c30a46b4.6f2228"],[]]},{"id":"ab7114cf.bdb978","type":"api-call-service","z":"a9c27ebb.64c6","name":"Toggle luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamps_center_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":640,"wires":[[]]},{"id":"1cd026e1.0373c9","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Luz sala","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_livingroom_touch_top","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":680,"wires":[["ab7114cf.bdb978"],[]]},{"id":"be3826c2.ede8a8","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Led Americana","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_kitchen_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":180,"y":340,"wires":[["63cf98ea.2837b8"],["4960629b.c996cc"]]},{"id":"36974ec6.c29d52","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Led pia","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_kitchen_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":560,"wires":[["35af5966.fe95b6"],["7d8e7a9b.a269e4"]]},{"id":"63cf98ea.2837b8","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Acende Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_americana_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":240,"wires":[[]]},{"id":"35af5966.fe95b6","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Acende Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_kitchen_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":480,"wires":[[]]},{"id":"7d8e7a9b.a269e4","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Apaga Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_kitchen_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":580,"wires":[[]]},{"id":"4960629b.c996cc","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Apaga Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_americana_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":320,"wires":[[]]},{"id":"3111936f.36030c","type":"server-state-changed","z":"525aff1c.b258f","name":"Switch escada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_3_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":220,"wires":[["9f37e25b.b652f"],["5598d095.bc3df"]]},{"id":"f02fbccb.fa59","type":"api-call-service","z":"525aff1c.b258f","name":"Acende balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":180,"wires":[[]]},{"id":"1b2dbf6d.b5dbf1","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":240,"wires":[[]]},{"id":"533acdf0.81d434","type":"server-state-changed","z":"525aff1c.b258f","name":"Balizador","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.balizador","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":420,"wires":[["8447c1ee.9bedc"],["e36ef883.e94528"]]},{"id":"f910b215.d3e5a","type":"api-call-service","z":"525aff1c.b258f","name":"Switch Balizador on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_3_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":380,"wires":[[]]},{"id":"2e8bef56.24db8","type":"api-call-service","z":"525aff1c.b258f","name":"Switch Balizador off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_3_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":440,"wires":[[]]},{"id":"9f37e25b.b652f","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":180,"wires":[["f02fbccb.fa59"]]},{"id":"5598d095.bc3df","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":240,"wires":[["1b2dbf6d.b5dbf1"]]},{"id":"8447c1ee.9bedc","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":380,"wires":[["f910b215.d3e5a"]]},{"id":"e36ef883.e94528","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":440,"wires":[["2e8bef56.24db8"]]},{"id":"6881ff20.802e3","type":"server-state-changed","z":"525aff1c.b258f","name":"Switch hall","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_3_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":620,"wires":[["1a7198dd.71a037"],["33a00e8a.51f082"]]},{"id":"ac89d6ad.3e2548","type":"server-state-changed","z":"525aff1c.b258f","name":"Luz hall","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_1_l2_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":760,"wires":[["edd4ef88.1d058"],["8a9976aa.5157d8"]]},{"id":"f68063b7.6e8fb","type":"api-call-service","z":"525aff1c.b258f","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_1_l2_hall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":560,"wires":[[]]},{"id":"c54ff392.e26bb","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_1_l2_hall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":660,"wires":[[]]},{"id":"50a3556a.8521cc","type":"api-call-service","z":"525aff1c.b258f","name":"Switch hall on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_3_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":740,"wires":[[]]},{"id":"26dc5a25.783336","type":"api-call-service","z":"525aff1c.b258f","name":"Switch hall off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_3_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":820,"wires":[[]]},{"id":"1a7198dd.71a037","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":600,"wires":[["f68063b7.6e8fb"]]},{"id":"33a00e8a.51f082","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":640,"wires":[["c54ff392.e26bb"]]},{"id":"edd4ef88.1d058","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":740,"wires":[["50a3556a.8521cc"]]},{"id":"8a9976aa.5157d8","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":800,"wires":[["26dc5a25.783336"]]},{"id":"b7989094.24a27","type":"server-state-changed","z":"401d8481.b98e9c","name":"Switch bedside","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_bedroom_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":260,"y":260,"wires":[["6aa57e9.652328"],["677f55f4.c35cec"]]},{"id":"695feacb.805ea4","type":"api-call-service","z":"401d8481.b98e9c","name":"Acende bedside","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.bedside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":220,"wires":[[]]},{"id":"9bc0228a.72af3","type":"api-call-service","z":"401d8481.b98e9c","name":"Apaga bedside","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.bedside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":280,"wires":[[]]},{"id":"6aa57e9.652328","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":220,"wires":[["695feacb.805ea4"]]},{"id":"677f55f4.c35cec","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":280,"wires":[["9bc0228a.72af3"]]},{"id":"8ace6bd2.4c7d08","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz bedside","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bedside","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":460,"wires":[["eed30d39.a05b9"],["8d714223.73f0f"]]},{"id":"eed30d39.a05b9","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":420,"wires":[["c520ae0.d49655"]]},{"id":"8d714223.73f0f","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":500,"wires":[["419ad782.3224f8"]]},{"id":"c520ae0.d49655","type":"api-call-service","z":"401d8481.b98e9c","name":"Switch bedside on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_bedroom_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":420,"wires":[[]]},{"id":"419ad782.3224f8","type":"api-call-service","z":"401d8481.b98e9c","name":"Switch bedside off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_bedroom_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":500,"wires":[[]]},{"id":"3e2bf3d8.b5b93c","type":"server-state-changed","z":"525aff1c.b258f","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.motion_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":1000,"wires":[["21f3b7e7.ef0368"],[]]},{"id":"5974317a.46c5f","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":1120,"wires":[[]]},{"id":"8b0f9414.5d8318","type":"api-call-service","z":"525aff1c.b258f","name":"Liga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":1000,"wires":[[]]},{"id":"21f3b7e7.ef0368","type":"api-current-state","z":"525aff1c.b258f","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1000,"wires":[["7b9639cf.655238"],[]]},{"id":"a6eed218.7e5a6","type":"server-state-changed","z":"525aff1c.b258f","name":"Movimento off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.motion_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":1120,"wires":[["5974317a.46c5f"],[]]},{"id":"7b9639cf.655238","type":"api-current-state","z":"525aff1c.b258f","name":"luzes hall desligada","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.light_hall","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1000,"wires":[["8b0f9414.5d8318"],[]]}]