node-red/flows.json
[{"id":"b93fa7b9.7a4ae8","type":"tab","label":"Casa","disabled":false,"info":""},{"id":"d5507aa.83dee88","type":"tab","label":"Alexa commands","disabled":false,"info":""},{"id":"e0a4e574.106b38","type":"tab","label":"Quintal","disabled":false,"info":""},{"id":"8179a8bb.7045e8","type":"tab","label":"Laboratorio","disabled":false,"info":""},{"id":"a9c27ebb.64c6","type":"tab","label":"Sala","disabled":false,"info":""},{"id":"4b3aed39.ffadd4","type":"tab","label":"Cozinha","disabled":false,"info":""},{"id":"d63b00c4.4b4ab","type":"tab","label":"Closet","disabled":false,"info":""},{"id":"8dc7a080.16f49","type":"tab","label":"lab","disabled":false,"info":""},{"id":"50114200.3f208","type":"tab","label":"Lavanderia","disabled":false,"info":""},{"id":"525aff1c.b258f","type":"tab","label":"Hall","disabled":false,"info":""},{"id":"401d8481.b98e9c","type":"tab","label":"Suite","disabled":false,"info":""},{"id":"2758a82b.bd07f8","type":"tab","label":"HomeAssistant","disabled":false,"info":""},{"id":"8cc15e66.a19b","type":"tab","label":"Piscina","disabled":false,"info":""},{"id":"c8cf7004.e1ab4","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"b9ff79d7.164bf8","type":"server","name":"Home Assistant"},{"id":"f7957f72.0ea92","type":"telegram bot","botname":"casaenseada","usernames":"aureliosaraiva","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2b1b07de.b576a8","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.turn_on_the_light_inside","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":180,"wires":[["f7a33722.deeae8"],[]]},{"id":"de31760e.4d38e8","type":"api-call-service","z":"a9c27ebb.64c6","name":"Acende luzes","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamps_center_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":160,"wires":[[]]},{"id":"29fd29e6.a6e256","type":"api-call-service","z":"a9c27ebb.64c6","name":"Modo ambiente","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.circadian_lighting_circadian_lighting_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":180,"wires":[["de31760e.4d38e8"]]},{"id":"a349f6c3.f110e8","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamps_closet","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":500,"wires":[[]]},{"id":"f14ed5e5.505eb8","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamps_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":600,"wires":[[]]},{"id":"dc97874.1e3a178","type":"api-call-service","z":"d63b00c4.4b4ab","name":"Liga Switch","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_closet_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":500,"wires":[["a349f6c3.f110e8"]]},{"id":"dc16e077.44f82","type":"api-current-state","z":"d63b00c4.4b4ab","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":500,"wires":[["dc97874.1e3a178"],[]]},{"id":"774f5074.33744","type":"function","z":"8dc7a080.16f49","name":"TurnOn","func":"global.set('lightAutoOn', 'on');\nreturn 'on'","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[[]]},{"id":"4d7540a8.fcb62","type":"function","z":"8dc7a080.16f49","name":"TurnOff","func":"flow.set('lightAutoOn', 'off');\nreturn 'off'","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":420,"wires":[[]]},{"id":"ff6dc3b8.0fc91","type":"function","z":"8dc7a080.16f49","name":"isTurnOn?","func":"return global.get ('lightAutoOn') || 'off';","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[[]]},{"id":"8932e476.cb49b8","type":"api-current-state","z":"d63b00c4.4b4ab","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":600,"wires":[["f14ed5e5.505eb8"],[]]},{"id":"21373e8.1c230c2","type":"server-state-changed","z":"b93fa7b9.7a4ae8","name":"Esta escuro?","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.lumens_garden_illuminance_lux","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":180,"wires":[["c0e1447.20d1db8"],["bd4dcc59.6000d"]]},{"id":"aa715808.0f2558","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":40,"wires":[[]]},{"id":"c9bc0c37.1c329","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":120,"wires":[[]]},{"id":"44d48363.148b6c","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sensor de movimento","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.turn_on_light_motion","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":180,"wires":[[]]},{"id":"c3dfa353.9cd54","type":"server-state-changed","z":"b93fa7b9.7a4ae8","name":"Nascer do sol","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":540,"wires":[["b029826a.538f8","64e3187b.1a9268","578a3c65.17ff84","3e1b0603.7f802a","c8dd3422.a2cb38"],[]]},{"id":"64e3187b.1a9268","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sensor de movimento","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_light_motion","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":600,"wires":[[]]},{"id":"3e1b0603.7f802a","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":340,"wires":[[]]},{"id":"578a3c65.17ff84","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":480,"wires":[[]]},{"id":"b029826a.538f8","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sleep mode","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep_mode","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":700,"wires":[[]]},{"id":"b009ec1.b07501","type":"server-state-changed","z":"8dc7a080.16f49","name":"Por do sol","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":600,"y":320,"wires":[[],[]]},{"id":"cc6d9d24.b622d","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda suite","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_closet_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":160,"wires":[[]]},{"id":"4c64ac0e.02d784","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda sala","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_garden_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":260,"wires":[[]]},{"id":"66a73690.84d2b8","type":"ha-get-entities","z":"8dc7a080.16f49","server":"c8cf7004.e1ab4","name":"Modo ausente","rules":[{"property":"input_boolean.away_mode","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":720,"y":180,"wires":[[]]},{"id":"9bf38e82.48cac","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento Garagem on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":580,"wires":[["b1053969.2764e8"],[]]},{"id":"e519cc8f.d9b8e","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_1_l1_garage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":860,"wires":[[]]},{"id":"e070c278.d7c5","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_1_l1_garage","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":620,"wires":[[]]},{"id":"b1053969.2764e8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":580,"wires":[["e070c278.d7c5"],[]]},{"id":"27477aed.3e0b56","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento garagem off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":820,"wires":[["df529092.41dde"],[]]},{"id":"df529092.41dde","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":840,"wires":[["e519cc8f.d9b8e"],[]]},{"id":"755f6c48.8e8524","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta principal aberta","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_hall_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":660,"wires":[["2f8fdd3c.11baf2"],[]]},{"id":"2f8fdd3c.11baf2","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":660,"wires":[["e070c278.d7c5"],[]]},{"id":"405160c1.c393a","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta principal fechada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_hall_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":920,"wires":[["438b58a4.1e6738"],[]]},{"id":"438b58a4.1e6738","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":920,"wires":[["e519cc8f.d9b8e"],[]]},{"id":"da7dce57.a040e","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz entrada","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":1120,"wires":[[]]},{"id":"1c7cd50b.c9854b","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":1180,"wires":[["9c8363b5.937e3"],[]]},{"id":"b90071cc.64bac","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta lavanderia aberta","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_laundry_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":220,"y":1100,"wires":[["2efd66c6.07d4da"],[]]},{"id":"cc0f154.6b4d0e8","type":"server-state-changed","z":"e0a4e574.106b38","name":"Porta lavanderia fechada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_laundry_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1180,"wires":[["1c7cd50b.c9854b"],[]]},{"id":"2efd66c6.07d4da","type":"api-current-state","z":"e0a4e574.106b38","name":"Luzes externas?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_the_light_external","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":1100,"wires":[["da7dce57.a040e"],[]]},{"id":"9c8363b5.937e3","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz entrada","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1180,"wires":[[]]},{"id":"50fe9f86.e336f","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral lavanderia off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":1440,"wires":[["a77e7072.bb32"],[]]},{"id":"8f1d46ff.1929b8","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1340,"wires":[[]]},{"id":"209b4a1b.a1bb06","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral lanvanderia on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":1340,"wires":[["920ad4f5.df82e8"],[]]},{"id":"920ad4f5.df82e8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":1340,"wires":[["8f1d46ff.1929b8"],[]]},{"id":"a77e7072.bb32","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1440,"wires":[["3dd1b721.ecc628"],[]]},{"id":"3dd1b721.ecc628","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1440,"wires":[[]]},{"id":"2f61efb4.05d03","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral sala on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_1_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1620,"wires":[["f86f9762.ff0bb8"],[]]},{"id":"74877419.f1e45c","type":"server-state-changed","z":"e0a4e574.106b38","name":"Movimento lateral sala off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_side_external_1_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":230,"y":1700,"wires":[["225e153.09d7aea"],[]]},{"id":"f86f9762.ff0bb8","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1620,"wires":[["1992c8c1.58b5e7"],[]]},{"id":"225e153.09d7aea","type":"api-current-state","z":"e0a4e574.106b38","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1700,"wires":[["d2b5fd61.7fb55"],[]]},{"id":"1992c8c1.58b5e7","type":"api-call-service","z":"e0a4e574.106b38","name":"Acende luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_2_l3_external_side","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1620,"wires":[[]]},{"id":"d2b5fd61.7fb55","type":"api-call-service","z":"e0a4e574.106b38","name":"Apaga luz lateral","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_2_l3_external_side","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1700,"wires":[[]]},{"id":"4a6f6b96.aa7064","type":"server-state-changed","z":"50114200.3f208","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_laundry_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":120,"wires":[["cc84d348.ae4e4"],[]]},{"id":"22d6e502.91feaa","type":"server-state-changed","z":"50114200.3f208","name":"Movimento off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_laundry_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":90,"y":200,"wires":[["a9be0c90.2edda"],[]]},{"id":"cc84d348.ae4e4","type":"api-current-state","z":"50114200.3f208","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":120,"wires":[["28d6149c.b11dbc"],[]]},{"id":"a9be0c90.2edda","type":"api-current-state","z":"50114200.3f208","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":200,"wires":[["c5744488.72c3f8"],[]]},{"id":"28d6149c.b11dbc","type":"api-call-service","z":"50114200.3f208","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_laundry_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":120,"wires":[[]]},{"id":"c5744488.72c3f8","type":"api-call-service","z":"50114200.3f208","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_laundry_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":200,"wires":[[]]},{"id":"84b9cd25.0d3e6","type":"time-range-switch","z":"8dc7a080.16f49","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":430,"y":580,"wires":[[],[]]},{"id":"c0e1447.20d1db8","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":340,"y":140,"wires":[["aa715808.0f2558","c9bc0c37.1c329","44d48363.148b6c","5266be5c.2e139"],[]]},{"id":"bd4dcc59.6000d","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":340,"y":260,"wires":[["3e1b0603.7f802a","578a3c65.17ff84","64e3187b.1a9268","c8dd3422.a2cb38"],[]]},{"id":"79549dce.8da714","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Switch luz piscina","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_garden_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":500,"wires":[["d354d7b9.76b4e8"],["40ff5464.e2694c"]]},{"id":"d354d7b9.76b4e8","type":"api-call-service","z":"a9c27ebb.64c6","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lamp_pool","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":460,"wires":[[]]},{"id":"40ff5464.e2694c","type":"api-call-service","z":"a9c27ebb.64c6","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lamp_pool","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":560,"wires":[[]]},{"id":"c30a46b4.6f2228","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Toggle luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.switch_wall_kitchen_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":160,"wires":[[]]},{"id":"8a40a0f6.85ee1","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Luz cozinha","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_livingroom_touch_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":170,"y":180,"wires":[["c30a46b4.6f2228"],[]]},{"id":"ab7114cf.bdb978","type":"api-call-service","z":"a9c27ebb.64c6","name":"Toggle luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamps_center_livingroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":640,"wires":[[]]},{"id":"1cd026e1.0373c9","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Luz sala","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_livingroom_touch_top","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":680,"wires":[["ab7114cf.bdb978"],[]]},{"id":"be3826c2.ede8a8","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Led Americana","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_kitchen_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":180,"y":340,"wires":[["63cf98ea.2837b8"],["4960629b.c996cc"]]},{"id":"36974ec6.c29d52","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Led pia","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_kitchen_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":520,"wires":[["35af5966.fe95b6"],["7d8e7a9b.a269e4"]]},{"id":"63cf98ea.2837b8","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Acende Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_americana_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":240,"wires":[[]]},{"id":"35af5966.fe95b6","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Acende Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_kitchen_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":480,"wires":[[]]},{"id":"7d8e7a9b.a269e4","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Apaga Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_kitchen_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":580,"wires":[[]]},{"id":"4960629b.c996cc","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Apaga Led","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_americana_cct","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":320,"wires":[[]]},{"id":"3111936f.36030c","type":"server-state-changed","z":"525aff1c.b258f","name":"Switch escada","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_3_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":220,"wires":[["9f37e25b.b652f"],["5598d095.bc3df"]]},{"id":"f02fbccb.fa59","type":"api-call-service","z":"525aff1c.b258f","name":"Acende balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":180,"wires":[[]]},{"id":"1b2dbf6d.b5dbf1","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":240,"wires":[[]]},{"id":"533acdf0.81d434","type":"server-state-changed","z":"525aff1c.b258f","name":"Balizador","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.balizador","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":420,"wires":[["8447c1ee.9bedc"],["e36ef883.e94528"]]},{"id":"f910b215.d3e5a","type":"api-call-service","z":"525aff1c.b258f","name":"Switch Balizador on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_3_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":380,"wires":[[]]},{"id":"2e8bef56.24db8","type":"api-call-service","z":"525aff1c.b258f","name":"Switch Balizador off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_3_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":440,"wires":[[]]},{"id":"9f37e25b.b652f","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":180,"wires":[["f02fbccb.fa59"]]},{"id":"5598d095.bc3df","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":240,"wires":[["1b2dbf6d.b5dbf1"]]},{"id":"8447c1ee.9bedc","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":380,"wires":[["f910b215.d3e5a"]]},{"id":"e36ef883.e94528","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":440,"wires":[["2e8bef56.24db8"]]},{"id":"6881ff20.802e3","type":"server-state-changed","z":"525aff1c.b258f","name":"Switch hall","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_3_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":620,"wires":[["1a7198dd.71a037"],["33a00e8a.51f082"]]},{"id":"ac89d6ad.3e2548","type":"server-state-changed","z":"525aff1c.b258f","name":"Luz hall","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_hall_1_l2_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":760,"wires":[["edd4ef88.1d058"],["8a9976aa.5157d8"]]},{"id":"f68063b7.6e8fb","type":"api-call-service","z":"525aff1c.b258f","name":"Acende luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_1_l2_hall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":560,"wires":[[]]},{"id":"c54ff392.e26bb","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_1_l2_hall","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":660,"wires":[[]]},{"id":"50a3556a.8521cc","type":"api-call-service","z":"525aff1c.b258f","name":"Switch hall on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_3_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":740,"wires":[[]]},{"id":"26dc5a25.783336","type":"api-call-service","z":"525aff1c.b258f","name":"Switch hall off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_hall_3_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":820,"wires":[[]]},{"id":"1a7198dd.71a037","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":600,"wires":[["f68063b7.6e8fb"]]},{"id":"33a00e8a.51f082","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":640,"wires":[["c54ff392.e26bb"]]},{"id":"edd4ef88.1d058","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":740,"wires":[["50a3556a.8521cc"]]},{"id":"8a9976aa.5157d8","type":"delay","z":"525aff1c.b258f","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":800,"wires":[["26dc5a25.783336"]]},{"id":"b7989094.24a27","type":"server-state-changed","z":"401d8481.b98e9c","name":"Switch bedside","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_bedroom_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":260,"y":260,"wires":[["6aa57e9.652328"],["677f55f4.c35cec"]]},{"id":"695feacb.805ea4","type":"api-call-service","z":"401d8481.b98e9c","name":"Acende bedside","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.bedside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":220,"wires":[[]]},{"id":"9bc0228a.72af3","type":"api-call-service","z":"401d8481.b98e9c","name":"Apaga bedside","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.bedside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":280,"wires":[[]]},{"id":"6aa57e9.652328","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":220,"wires":[["695feacb.805ea4"]]},{"id":"677f55f4.c35cec","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":280,"wires":[["9bc0228a.72af3"]]},{"id":"8ace6bd2.4c7d08","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz bedside","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bedside","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":250,"y":460,"wires":[["eed30d39.a05b9"],["8d714223.73f0f"]]},{"id":"eed30d39.a05b9","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":420,"wires":[["c520ae0.d49655"]]},{"id":"8d714223.73f0f","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":500,"wires":[["419ad782.3224f8"]]},{"id":"c520ae0.d49655","type":"api-call-service","z":"401d8481.b98e9c","name":"Switch bedside on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_bedroom_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":420,"wires":[[]]},{"id":"419ad782.3224f8","type":"api-call-service","z":"401d8481.b98e9c","name":"Switch bedside off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_bedroom_center","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":500,"wires":[[]]},{"id":"3e2bf3d8.b5b93c","type":"server-state-changed","z":"525aff1c.b258f","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.motion_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":1000,"wires":[["21f3b7e7.ef0368"],[]]},{"id":"5974317a.46c5f","type":"api-call-service","z":"525aff1c.b258f","name":"Apaga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":1120,"wires":[[]]},{"id":"8b0f9414.5d8318","type":"api-call-service","z":"525aff1c.b258f","name":"Liga balizador","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.balizador","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":1000,"wires":[[]]},{"id":"21f3b7e7.ef0368","type":"api-current-state","z":"525aff1c.b258f","name":"Sensor ligado?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.turn_on_light_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":1000,"wires":[["7b9639cf.655238"],[]]},{"id":"a6eed218.7e5a6","type":"server-state-changed","z":"525aff1c.b258f","name":"Movimento off","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.motion_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":130,"y":1120,"wires":[["5974317a.46c5f"],[]]},{"id":"7b9639cf.655238","type":"api-current-state","z":"525aff1c.b258f","name":"luzes hall desligada","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.light_hall","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1000,"wires":[["8b0f9414.5d8318"],[]]},{"id":"57f7b3fd.a1ad3c","type":"api-current-state","z":"e0a4e574.106b38","name":"Em casa?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":260,"wires":[["4c64ac0e.02d784"],[]]},{"id":"d000c3c0.75c31","type":"server-state-changed","z":"d63b00c4.4b4ab","name":"Movimento on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_closet_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":540,"wires":[["45bb95bf.34f3cc"]]},{"id":"45bb95bf.34f3cc","type":"switch","z":"d63b00c4.4b4ab","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":540,"wires":[["dc16e077.44f82"],["8932e476.cb49b8"]]},{"id":"331f4015.9d6d7","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Button Scenes 1","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.livingroom_button_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":1000,"wires":[["99f37c46.f6fee","4b047af5.44d934"]]},{"id":"99f37c46.f6fee","type":"debug","z":"a9c27ebb.64c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":780,"wires":[]},{"id":"4b047af5.44d934","type":"switch","z":"a9c27ebb.64c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"single","vt":"str"},{"t":"cont","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":940,"wires":[["30618714.122698"],["d79f3bbe.b97338"]]},{"id":"30618714.122698","type":"switch","z":"a9c27ebb.64c6","name":"Single","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4_single","vt":"str"},{"t":"eq","v":"3_single","vt":"str"},{"t":"eq","v":"2_single","vt":"str"},{"t":"eq","v":"1_single","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":790,"y":860,"wires":[["8e04f425.aa8d18"],["8e04f425.aa8d18"],["8e04f425.aa8d18"],["8e04f425.aa8d18"]]},{"id":"d79f3bbe.b97338","type":"switch","z":"a9c27ebb.64c6","name":"Double","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4_double","vt":"str"},{"t":"eq","v":"3_double","vt":"str"},{"t":"eq","v":"2_double","vt":"str"},{"t":"eq","v":"1_double","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":800,"y":980,"wires":[[],[],[],[]]},{"id":"8e04f425.aa8d18","type":"debug","z":"a9c27ebb.64c6","name":"Single","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":860,"wires":[]},{"id":"b94434fb.e50028","type":"debug","z":"a9c27ebb.64c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1160,"wires":[]},{"id":"a87dc92b.6778c8","type":"server-state-changed","z":"a9c27ebb.64c6","name":"","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.amazon_fire_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":210,"y":1260,"wires":[["b94434fb.e50028","4b15452b.6f9a2c"]]},{"id":"d556687b.905cb8","type":"comment","z":"a9c27ebb.64c6","name":"TV Sala .............................................................................................................","info":"","x":360,"y":1100,"wires":[]},{"id":"4b15452b.6f9a2c","type":"switch","z":"a9c27ebb.64c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"paused","vt":"str"},{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"standby","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1260,"wires":[["ed34625.7c06aa"],[],[]]},{"id":"a6032737.798748","type":"api-call-service","z":"a9c27ebb.64c6","name":"ambilight","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"mode_livingroom_ambilight_movie","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1180,"wires":[[]]},{"id":"ed34625.7c06aa","type":"time-range-switch","z":"a9c27ebb.64c6","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"19:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":700,"y":1220,"wires":[["a6032737.798748"],[]]},{"id":"d8b531ee.e5c1d","type":"comment","z":"401d8481.b98e9c","name":"Switch bedside .............................................................................................................","info":"","x":390,"y":640,"wires":[]},{"id":"80f8c02.03c784","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Noite?","lat":"-23.9837906","lon":"-46.2078817","startTime":"22:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":470,"y":1000,"wires":[["31a61a70.08e0a6","8a47a175.7578e","19d9c3c0.66a56c","fbc61137.17dd1","779779ab.528948","abc51ba4.100118"],[]]},{"id":"31a61a70.08e0a6","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":940,"wires":[[]]},{"id":"8a47a175.7578e","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":880,"wires":[[]]},{"id":"19d9c3c0.66a56c","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off external light","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_external_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":1000,"wires":[[]]},{"id":"fbc61137.17dd1","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off interal light piso 1","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_internal_floor_1_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":1060,"wires":[[]]},{"id":"779779ab.528948","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off interal light piso 2 sleep","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_internal_floor_2_sleep_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":1120,"wires":[[]]},{"id":"ddd32ccc.22636","type":"comment","z":"b93fa7b9.7a4ae8","name":"Modo indo dormir  .............................................................................................................","info":"","x":580,"y":820,"wires":[]},{"id":"5a6e43c1.e004fc","type":"comment","z":"b93fa7b9.7a4ae8","name":"Modo noturno  .............................................................................................................","info":"","x":570,"y":1240,"wires":[]},{"id":"dba651b7.0b162","type":"link in","z":"b93fa7b9.7a4ae8","name":"Sleep","links":["8db19d8.27acc6"],"x":315,"y":1000,"wires":[["80f8c02.03c784"]]},{"id":"e7e236f1.d206e8","type":"link in","z":"b93fa7b9.7a4ae8","name":"Nigth","links":["e49b2e4e.8d43c","3ff3def3.9b22e2"],"x":315,"y":1440,"wires":[["e81c8d11.77ac9"]]},{"id":"e81c8d11.77ac9","type":"time-range-switch","z":"b93fa7b9.7a4ae8","name":"Noite?","lat":"-23.9837906","lon":"-46.2078817","startTime":"22:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":450,"y":1440,"wires":[["bd909b60.fe4df8","2210e8f5.813008","dc99e7ee.1335e8","34237958.126696","858dbd27.f6c16","6237880.0e75278"],["dc743d27.fcef1"]]},{"id":"bd909b60.fe4df8","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes interna","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_inside","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1300,"wires":[[]]},{"id":"2210e8f5.813008","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Luzes externa","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_the_light_external","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1360,"wires":[[]]},{"id":"34237958.126696","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off external light","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_external_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":1480,"wires":[[]]},{"id":"858dbd27.f6c16","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off interal light piso 1","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_internal_floor_1_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":1540,"wires":[[]]},{"id":"dc99e7ee.1335e8","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sensor de movimento","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.turn_on_light_motion","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":1420,"wires":[[]]},{"id":"6237880.0e75278","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Turn off interal light piso 2","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.turn_off_internal_floor_2_light","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":1600,"wires":[[]]},{"id":"9a2e8393.27e7a","type":"server-events","z":"d5507aa.83dee88","name":"Alexa Command","server":"c8cf7004.e1ab4","event_type":"alexa_actionable_command","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":140,"wires":[["dcb0f57f.61c648"]]},{"id":"dcb0f57f.61c648","type":"switch","z":"d5507aa.83dee88","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"nigth_mode","vt":"str"},{"t":"eq","v":"sleep_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["3ff3def3.9b22e2"],["8db19d8.27acc6"]]},{"id":"3ff3def3.9b22e2","type":"link out","z":"d5507aa.83dee88","name":"Night","links":["e7e236f1.d206e8"],"x":455,"y":100,"wires":[]},{"id":"8db19d8.27acc6","type":"link out","z":"d5507aa.83dee88","name":"Sleep","links":["dba651b7.0b162"],"x":455,"y":180,"wires":[]},{"id":"abc51ba4.100118","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sleep mode","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep_mode","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":1180,"wires":[[]]},{"id":"dc743d27.fcef1","type":"api-call-service","z":"b93fa7b9.7a4ae8","name":"Sleep mode","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep_mode","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1660,"wires":[[]]},{"id":"b60f07ea.7ea308","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz Camila","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_01_touch_top","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":800,"wires":[["f6f10ccf.a6747"],[]]},{"id":"c12996cd.249f18","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz Aurelio","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_02_touch_top","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":900,"wires":[["16264885.efa437"],[]]},{"id":"f6f10ccf.a6747","type":"api-call-service","z":"401d8481.b98e9c","name":"Toggle luz camila","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamp_side_bed_camila","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":780,"wires":[[]]},{"id":"16264885.efa437","type":"api-call-service","z":"401d8481.b98e9c","name":"Toggle luz aurelio","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamp_side_bed_aurelio","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":880,"wires":[[]]},{"id":"8f7666a6.6bd2c8","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz central 1","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_01_touch_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":1300,"wires":[["87df16c1.6cdec8"],[]]},{"id":"4c2c767a.0e40b8","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz central 2","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_02_touch_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":1360,"wires":[["87df16c1.6cdec8"],[]]},{"id":"881bb6af.5fb328","type":"api-call-service","z":"401d8481.b98e9c","name":"Switch on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_bedroom_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1320,"wires":[["1277de3c.02f8d2"]]},{"id":"1277de3c.02f8d2","type":"api-call-service","z":"401d8481.b98e9c","name":"Liga Luz quarto","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamps_bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1320,"wires":[[]]},{"id":"f1a1545b.593428","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz leitura","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_01_touch_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":1000,"wires":[["de6af173.a37a5"],[]]},{"id":"33fa9d74.a432a2","type":"api-call-service","z":"401d8481.b98e9c","name":"modo leitura","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_side_bed_camila","data":"{\"brightness\":200,\"color_temp\":180}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":900,"wires":[[]]},{"id":"de6af173.a37a5","type":"api-current-state","z":"401d8481.b98e9c","name":"Circardian","server":"c8cf7004.e1ab4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.circadian_lighting_bedside_camila","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":1000,"wires":[["9b7ee25b.67469"]]},{"id":"9b7ee25b.67469","type":"switch","z":"401d8481.b98e9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1000,"wires":[["af16c27d.1938c"],["3f858885.9fc408"]]},{"id":"af16c27d.1938c","type":"api-call-service","z":"401d8481.b98e9c","name":"circadian off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.circadian_lighting_bedside_camila","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":940,"wires":[["33fa9d74.a432a2"]]},{"id":"3f858885.9fc408","type":"api-call-service","z":"401d8481.b98e9c","name":"circadian on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.circadian_lighting_bedside_camila","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1020,"wires":[[]]},{"id":"87df16c1.6cdec8","type":"delay","z":"401d8481.b98e9c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":1320,"wires":[["881bb6af.5fb328"]]},{"id":"f6acb198.55e87","type":"server-state-changed","z":"401d8481.b98e9c","name":"Luz forte","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_bedside_02_touch_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":1140,"wires":[["48fa2033.612a"],[]]},{"id":"48fa2033.612a","type":"api-current-state","z":"401d8481.b98e9c","name":"Circardian","server":"c8cf7004.e1ab4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.circadian_lighting_bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":1140,"wires":[["5eed2cb0.feaf04"]]},{"id":"5eed2cb0.feaf04","type":"switch","z":"401d8481.b98e9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1140,"wires":[["42d44476.d57a3c"],["38ea821.bddbb7e"]]},{"id":"42d44476.d57a3c","type":"api-call-service","z":"401d8481.b98e9c","name":"circadian off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.circadian_lighting_bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1100,"wires":[["eacc6b26.c74cd8"]]},{"id":"eacc6b26.c74cd8","type":"api-call-service","z":"401d8481.b98e9c","name":"Liga Luz quarto","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamps_bedroom","data":"{\"brightness\":250,\"color_temp\":315}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":1080,"wires":[[]]},{"id":"38ea821.bddbb7e","type":"api-call-service","z":"401d8481.b98e9c","name":"circadian on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.circadian_lighting_bedroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1180,"wires":[[]]},{"id":"cebc5210.8cdf8","type":"comment","z":"a9c27ebb.64c6","name":"Adega ..............................................................................................................","info":"","x":330,"y":1460,"wires":[]},{"id":"a512a4c9.23b818","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Porta Adega","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_adega_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1580,"wires":[["53c0e24a.64602c"],[]]},{"id":"4af97ba2.c57314","type":"comment","z":"e0a4e574.106b38","name":"Luz escurecer  .............................................................................................................","info":"","x":410,"y":80,"wires":[]},{"id":"c20a7668.ca0dd8","type":"comment","z":"e0a4e574.106b38","name":"Garagem  .............................................................................................................","info":"","x":370,"y":500,"wires":[]},{"id":"be00628d.df1c","type":"comment","z":"e0a4e574.106b38","name":"Lavanderia  .............................................................................................................","info":"","x":380,"y":1040,"wires":[]},{"id":"5266be5c.2e139","type":"link out","z":"b93fa7b9.7a4ae8","name":"Luzes noturna on","links":["cb162e17.4fa95"],"x":505,"y":220,"wires":[]},{"id":"c8dd3422.a2cb38","type":"link out","z":"b93fa7b9.7a4ae8","name":"Luzes noturna off","links":["88658947.afb928"],"x":605,"y":280,"wires":[]},{"id":"cb162e17.4fa95","type":"link in","z":"e0a4e574.106b38","name":"","links":["5266be5c.2e139"],"x":215,"y":220,"wires":[["cc6d9d24.b622d","57f7b3fd.a1ad3c"]]},{"id":"86cf3fe3.31d5f","type":"comment","z":"e0a4e574.106b38","name":"Luzes on","info":"","x":190,"y":180,"wires":[]},{"id":"8c9d58cb.1c6be8","type":"comment","z":"e0a4e574.106b38","name":"Luzes off","info":"","x":180,"y":300,"wires":[]},{"id":"88658947.afb928","type":"link in","z":"e0a4e574.106b38","name":"","links":["c8dd3422.a2cb38"],"x":195,"y":380,"wires":[["9395c91c.1aca48"]]},{"id":"9395c91c.1aca48","type":"time-range-switch","z":"e0a4e574.106b38","name":"Horario liberado","lat":"-23.9837906","lon":"-46.2078817","startTime":"08:00","endTime":"19:00","startOffset":0,"endOffset":0,"x":360,"y":380,"wires":[["2defd959.fdc9e6","b312f34b.fc15"],[]]},{"id":"2defd959.fdc9e6","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda suite","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_closet_bottom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":340,"wires":[[]]},{"id":"b312f34b.fc15","type":"api-call-service","z":"e0a4e574.106b38","name":"Varanda sala","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.switch_wall_garden_top","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":400,"wires":[[]]},{"id":"20138d9c.464982","type":"server-events","z":"2758a82b.bd07f8","name":"","server":"c8cf7004.e1ab4","event_type":"homeassistant","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":180,"y":320,"wires":[["fec188c7.c06bf8"]]},{"id":"fec188c7.c06bf8","type":"switch","z":"2758a82b.bd07f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":320,"wires":[["44f59b39.011424","ef534c1e.47d"]]},{"id":"44f59b39.011424","type":"api-call-service","z":"2758a82b.bd07f8","name":"Turn on","server":"c8cf7004.e1ab4","version":1,"debugenabled":true,"service_domain":"script","service":"speech_engine","entityId":"","data":"{\"media_player\":\"media_player.echo_laboratory\",\"custom_message\":\"Central de automao est online novamente!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":280,"wires":[[]]},{"id":"d7641ed.72d30e","type":"inject","z":"8179a8bb.7045e8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":360,"y":480,"wires":[[]]},{"id":"12abba2d.c7fe66","type":"server-state-changed","z":"8179a8bb.7045e8","name":"Switch center","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.switch_wall_laboratory_center","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":260,"wires":[["d30941dc.899a1"],["1bdd0530.a1d8eb"]]},{"id":"d30941dc.899a1","type":"api-call-service","z":"8179a8bb.7045e8","name":"Turn on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_laboratory","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":200,"wires":[[]]},{"id":"1bdd0530.a1d8eb","type":"api-call-service","z":"8179a8bb.7045e8","name":"turn off","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamp_laboratory","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":300,"wires":[[]]},{"id":"e5335afa.5b6518","type":"telegram sender","z":"2758a82b.bd07f8","name":"","bot":"f7957f72.0ea92","haserroroutput":false,"outputs":1,"x":860,"y":360,"wires":[[]]},{"id":"ef534c1e.47d","type":"function","z":"2758a82b.bd07f8","name":"Texto","func":"msg.payload = {}\nmsg.payload.chatId = 611383381\nmsg.payload.type = 'message'\nmsg.payload.content = 'HomeAssistant online!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":360,"wires":[["e5335afa.5b6518"]]},{"id":"f7a33722.deeae8","type":"api-current-state","z":"a9c27ebb.64c6","name":"Todos em casa?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.away_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":180,"wires":[["29fd29e6.a6e256"],[]]},{"id":"2cd3e24.13cf81e","type":"api-call-service","z":"a9c27ebb.64c6","name":"Toggle luz","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lamps_socialroom","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":2020,"wires":[[]]},{"id":"ca76a46d.e91c18","type":"server-state-changed","z":"a9c27ebb.64c6","name":"Switch central","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_livingroom_touch_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":170,"y":2020,"wires":[["e42d586d.6bb8c8"],[]]},{"id":"251125dc.30a6ca","type":"comment","z":"a9c27ebb.64c6","name":"Sala social ..............................................................................................................","info":"","x":380,"y":1920,"wires":[]},{"id":"e42d586d.6bb8c8","type":"api-call-service","z":"a9c27ebb.64c6","name":"Switch on","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.switch_wall_hall_2","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":2020,"wires":[["2cd3e24.13cf81e"]]},{"id":"dcb6af47.d661c","type":"server-state-changed","z":"4b3aed39.ffadd4","name":"Geladeira","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_fridge_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":160,"y":820,"wires":[["c84d487e.1082a8"],[]]},{"id":"c84d487e.1082a8","type":"function","z":"4b3aed39.ffadd4","name":"Texto","func":"msg.payload = {}\nmsg.payload.content = 'A porta da geladeira est aberta!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":780,"wires":[["150748b9.e327d7"]]},{"id":"150748b9.e327d7","type":"api-call-service","z":"4b3aed39.ffadd4","name":"Alexa cozinha","server":"c8cf7004.e1ab4","version":1,"debugenabled":true,"service_domain":"script","service":"speech_engine","entityId":"","data":"{\"media_player\": \"media_player.echo_dot_cozinha\",\t   \"custom_message\": (payload.content)\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":740,"wires":[["8e075595.f67ea8"]]},{"id":"966864d7.cb26b8","type":"api-current-state","z":"4b3aed39.ffadd4","name":"Ainda esta aberta?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.door_fridge_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1050,"y":920,"wires":[["e1e4f3a7.d39f1"],[]]},{"id":"8e075595.f67ea8","type":"delay","z":"4b3aed39.ffadd4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":740,"wires":[["966864d7.cb26b8"]]},{"id":"e1e4f3a7.d39f1","type":"function","z":"4b3aed39.ffadd4","name":"Texto","func":"msg.payload = {}\nmsg.payload.content = 'A porta da geladeira continua aberta!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":860,"wires":[["150748b9.e327d7"]]},{"id":"53c0e24a.64602c","type":"function","z":"a9c27ebb.64c6","name":"Texto","func":"msg.payload = {}\nmsg.payload.content = 'A porta da adega est aberta!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1580,"wires":[["6217f095.c4ec5"]]},{"id":"6217f095.c4ec5","type":"api-call-service","z":"a9c27ebb.64c6","name":"Alexa social room","server":"c8cf7004.e1ab4","version":1,"debugenabled":true,"service_domain":"script","service":"speech_engine","entityId":"","data":"{\"media_player\": \"media_player.echo_dot_escritorio\",\t   \"custom_message\": (payload.content)\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1540,"wires":[["9f17eae8.746d58"]]},{"id":"8909ad72.3445","type":"api-current-state","z":"a9c27ebb.64c6","name":"Ainda esta aberta?","server":"c8cf7004.e1ab4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.door_adega_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":1720,"wires":[["366a7841.b1ff68"],[]]},{"id":"9f17eae8.746d58","type":"delay","z":"a9c27ebb.64c6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1540,"wires":[["8909ad72.3445"]]},{"id":"366a7841.b1ff68","type":"function","z":"a9c27ebb.64c6","name":"Texto","func":"msg.payload = {}\nmsg.payload.content = 'A porta da adega continua aberta!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1640,"wires":[["6217f095.c4ec5"]]},{"id":"1b0c596.670b2a7","type":"server-state-changed","z":"8cc15e66.a19b","name":"Piscina on","server":"c8cf7004.e1ab4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.pool_pump","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":160,"wires":[["fd20cda5.04fe9"]]},{"id":"9292cc0.ffa583","type":"api-call-service","z":"8cc15e66.a19b","name":"Ligar piscina","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.poolmachine_relay","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":100,"wires":[["3a28ac4f.9cc864"]]},{"id":"fd20cda5.04fe9","type":"switch","z":"8cc15e66.a19b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Auto","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":160,"wires":[["9292cc0.ffa583"],["d2c7132a.ec0f2"],["915eaabf.6ea738"]]},{"id":"d2c7132a.ec0f2","type":"api-call-service","z":"8cc15e66.a19b","name":"desligar piscina","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.poolmachine_relay","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":200,"wires":[[]]},{"id":"3a28ac4f.9cc864","type":"delay","z":"8cc15e66.a19b","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":100,"wires":[["15db7ea5.2dd2c1","d2c7132a.ec0f2"]]},{"id":"2cbea999.c82346","type":"telegram sender","z":"8cc15e66.a19b","name":"","bot":"f7957f72.0ea92","haserroroutput":false,"outputs":1,"x":1240,"y":60,"wires":[[]]},{"id":"15db7ea5.2dd2c1","type":"function","z":"8cc15e66.a19b","name":"Texto","func":"msg.payload = {}\nmsg.payload.chatId = 611383381\nmsg.payload.type = 'message'\nmsg.payload.content = 'Piscina desliga automaticamente!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":60,"wires":[["2cbea999.c82346"]]},{"id":"5a10dd20.695dd4","type":"inject","z":"8cc15e66.a19b","name":"","props":[],"repeat":"","crontab":"*/5 8-17 * * *","once":false,"onceDelay":0.1,"topic":"","x":130,"y":380,"wires":[["915eaabf.6ea738"]]},{"id":"915eaabf.6ea738","type":"api-call-service","z":"8cc15e66.a19b","name":"Check Piscina","server":"c8cf7004.e1ab4","version":1,"debugenabled":false,"service_domain":"pool_pump_service","service":"check","entityId":"","data":"{\"switch_entity_id\":\"switch.poolmachine_relay\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":380,"wires":[[]]}]